// App Scss
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1380px
);

$primary:       #3DB441 !default;
$secondary:     #B84228 !default;

$main_brand: #5D5D5D;
$main_brand_bg: #c1c3c5;
$sub_brand: #523800;

@import "~bootstrap/scss/bootstrap";

@import "base-styles";

// layouts
@import "layout/header_wrapper";
@import "layout/footer_wrapper";

// modules
@import "modules/main_banner";
